In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('true_news.csv')
df1 = df1.drop(['Unnamed: 0', 'long_description'], axis=1)
temp = [1]*len(df1)
df1['Label'] = temp
df1 = df1.rename(columns={'short_description': 'News', 'full_title': 'Heading'})
#df1 = df1.fillna('', inplace=True)
df1

,News,Heading,Label
0,पूछ जाए दिल्ल पहल गणतंत्र दिवस परेड कह इसक जवा...,26 जनवर गणतंत्र दिवस पहल परेड कह,1
1,वेब सिरीज़ तांडव ले जार विवाद कार्टून,कार्टून सख़्त ज़रूरत,1
2,बेक समझौ H1B वीज़ के नए नियम क्वॉड समूह गठन - ...,डोनाल्ड ट्रंप भारत मोद सरकार मुश्किल बढ़ दिय,1
3,विपक्ष कांग्रेस पार्ट सरकार स्थित स्पष्ट कह दू...,चीन भारत के अरुणाचल प्रदेश ले क्य ताज़ विवाद,1
4,बाइडन-कमल हैरिस टीम अप प्रशासन के भारतीय मूल क...,बाइडन प्रशासन छाय रह सक भारतीय मूल के अमेरिक,1
...,...,...,...
434,पाकिस्तान कभ दूसर धुर-विरोध रह विपक्ष पार्ट इम...,पाकिस्तान इमरान ख़ान सरकार सत् हट मुहिम विपक्ष...,1
435,तेलंग आंध्र प्रदेश केरल कर्नाटक ओडिश महाराष्ट्...,दक्षिण भारत भार बारिश कम-से-कम 30 लोग मौत,1
436,बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...,बिहार जातीय समीकरण बीजेप के हिंदुत्व दंगल चुनाव,1
437,गुरुवार राज्य सात मही के सिनेमाघर मल्टीप्लेक्स...,अनलॉक 5 कहाँ-कह खुल रह सिनेमाघर,1
438,भारतीय विदेश मंत्रालय के प्रवक् अनुराग श्रीवास...,पाकिस्ता एनएसए के दाव भारत कह नसीहत अप सरकार र...,1

In [3]:
df1.isnull().sum(axis = 0)

News       0
Heading    0
Label      0
dtype: int64

In [4]:
df2 = pd.read_json('true_news_all_dirty.json')
df2 = df2.drop(['url', 'full_title', 'long_description'], axis=1)
temp = [1]*len(df2)
df2['Label'] = temp
df2 = df2.rename(columns={'short_desc': 'News', 'name': 'Heading'})
#df2 = df2.fillna('', inplace=True)
df2

,Heading,News,Label
0,मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...,भारत ने ऑस्ट्रेलिया में टेस्ट सिरीज़ में ऐतिहा...,1
1,ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...,ब्रिस्बेन टेस्ट में भारत की दीवार कहे जाने वाल...,1
2,पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...,पाकिस्तानी टीवी प्रेजेंटर सैय्यद इक़रारुल हसन ...,1
3,कहां हुई थी पहली गणतंत्र दिवस परेड,किसी से पूछा जाए कि दिल्ली में पहली गणतंत्र दि...,1
4,कार्टून: सख़्त ज़रूरत है,वेब सिरीज़ तांडव को लेकर जारी विवाद पर आज का क...,1
...,...,...,...
888,ब्रह्मोस एक्सटेंडड रेंज सुपरसोनिक क्रूज़ मिसाइ...,ये मिसाइल 400 किलोमीटर से ज़्यादा मार कर सकती है.,1
889,भोलू पहलवानों को भारत क्यों नहीं आने दिया था?,"आकर्षण का केंद्र वो शक्तिशाली पहलवान होते थे, ...",1
890,बिहार: जातीय समीकरणों और बीजेपी के हिंदुत्व का...,"बिहार के जातिगत समीकरणों की बात बहुत होती है, ...",1
891,स्टेन स्वामी: सबसे बुजुर्ग शख़्स जिन पर लगा आत...,एनआईए ने 83 साल के फ़ादर स्टेन स्वामी को गिरफ़...,1
892,चीन के साथ संघर्ष हुआ तो भारत का कितना साथ देग...,NaN,1

In [7]:
df2.isnull().sum(axis = 0)

Heading    0
News       0
Label      0
dtype: int64

In [6]:
import numpy as np
df2 = df2.replace(np.nan, '', regex=True)
df2

,Heading,News,Label
0,मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...,भारत ने ऑस्ट्रेलिया में टेस्ट सिरीज़ में ऐतिहा...,1
1,ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...,ब्रिस्बेन टेस्ट में भारत की दीवार कहे जाने वाल...,1
2,पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...,पाकिस्तानी टीवी प्रेजेंटर सैय्यद इक़रारुल हसन ...,1
3,कहां हुई थी पहली गणतंत्र दिवस परेड,किसी से पूछा जाए कि दिल्ली में पहली गणतंत्र दि...,1
4,कार्टून: सख़्त ज़रूरत है,वेब सिरीज़ तांडव को लेकर जारी विवाद पर आज का क...,1
...,...,...,...
888,ब्रह्मोस एक्सटेंडड रेंज सुपरसोनिक क्रूज़ मिसाइ...,ये मिसाइल 400 किलोमीटर से ज़्यादा मार कर सकती है.,1
889,भोलू पहलवानों को भारत क्यों नहीं आने दिया था?,"आकर्षण का केंद्र वो शक्तिशाली पहलवान होते थे, ...",1
890,बिहार: जातीय समीकरणों और बीजेपी के हिंदुत्व का...,"बिहार के जातिगत समीकरणों की बात बहुत होती है, ...",1
891,स्टेन स्वामी: सबसे बुजुर्ग शख़्स जिन पर लगा आत...,एनआईए ने 83 साल के फ़ादर स्टेन स्वामी को गिरफ़...,1
892,चीन के साथ संघर्ष हुआ तो भारत का कितना साथ देग...,,1

In [8]:
df = df2.append(df1)
df

,Heading,News,Label
0,मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...,भारत ने ऑस्ट्रेलिया में टेस्ट सिरीज़ में ऐतिहा...,1
1,ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...,ब्रिस्बेन टेस्ट में भारत की दीवार कहे जाने वाल...,1
2,पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...,पाकिस्तानी टीवी प्रेजेंटर सैय्यद इक़रारुल हसन ...,1
3,कहां हुई थी पहली गणतंत्र दिवस परेड,किसी से पूछा जाए कि दिल्ली में पहली गणतंत्र दि...,1
4,कार्टून: सख़्त ज़रूरत है,वेब सिरीज़ तांडव को लेकर जारी विवाद पर आज का क...,1
...,...,...,...
434,पाकिस्तान इमरान ख़ान सरकार सत् हट मुहिम विपक्ष...,पाकिस्तान कभ दूसर धुर-विरोध रह विपक्ष पार्ट इम...,1
435,दक्षिण भारत भार बारिश कम-से-कम 30 लोग मौत,तेलंग आंध्र प्रदेश केरल कर्नाटक ओडिश महाराष्ट्...,1
436,बिहार जातीय समीकरण बीजेप के हिंदुत्व दंगल चुनाव,बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...,1
437,अनलॉक 5 कहाँ-कह खुल रह सिनेमाघर,गुरुवार राज्य सात मही के सिनेमाघर मल्टीप्लेक्स...,1
438,पाकिस्ता एनएसए के दाव भारत कह नसीहत अप सरकार र...,भारतीय विदेश मंत्रालय के प्रवक् अनुराग श्रीवास...,1

In [9]:
dff = pd.read_csv('real_news.csv')
df = df.append(dff)
df

,Heading,News,Label
0,मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...,भारत ने ऑस्ट्रेलिया में टेस्ट सिरीज़ में ऐतिहा...,1
1,ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...,ब्रिस्बेन टेस्ट में भारत की दीवार कहे जाने वाल...,1
2,पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...,पाकिस्तानी टीवी प्रेजेंटर सैय्यद इक़रारुल हसन ...,1
3,कहां हुई थी पहली गणतंत्र दिवस परेड,किसी से पूछा जाए कि दिल्ली में पहली गणतंत्र दि...,1
4,कार्टून: सख़्त ज़रूरत है,वेब सिरीज़ तांडव को लेकर जारी विवाद पर आज का क...,1
...,...,...,...
190,मुसलमानों में सबसे ज़्यादा घटी प्रजनन दर फिर भ...,देश के सभी समुदायों के महिलाओं की कुल प्रजनन द...,1
191,"पुतिन की ‘गर्लफ़्रेंड’ अलीना कबाएवा कौन हैं, ज...",यूक्रेन पर हमले के चलते रूस पर पहले ही कई अप्र...,1
192,"हैदराबाद: हिन्दू-मुस्लिम विवाह, दलित लड़के की ...","''अपने भाई के सामने मैं गिड़गिड़ाती रही, मगर म...",1
193,"झारखंड की एक ख़ास प्रथा, जहां लिव-इन के बाद हो...",खूंटी जिले के डुमरदगा गांव की फूलमनी टूटी 46 स...,1
194,महाराष्ट्र का सोंडेघर गांव: दंगा रोकने के लिए ...,सोंडेघर गांव में लगा ये बोर्ड रास्ते से गुजर र...,1

In [10]:
df.to_csv('real_news_all.csv', index=False)

In [11]:
df['News'] = df['Heading'] + df['News']
df = df.drop(['Heading'], axis=1)
df

                                                  News  Label
0    मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...      1
1    ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...      1
2    पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...      1
3    कहां हुई थी पहली गणतंत्र दिवस परेडकिसी से पूछा...      1
4    कार्टून: सख़्त ज़रूरत हैवेब सिरीज़ तांडव को ले...      1
..                                                 ...    ...
190  मुसलमानों में सबसे ज़्यादा घटी प्रजनन दर फिर भ...      1
191  पुतिन की ‘गर्लफ़्रेंड’ अलीना कबाएवा कौन हैं, ज...      1
192  हैदराबाद: हिन्दू-मुस्लिम विवाह, दलित लड़के की ...      1
193  झारखंड की एक ख़ास प्रथा, जहां लिव-इन के बाद हो...      1
194  महाराष्ट्र का सोंडेघर गांव: दंगा रोकने के लिए ...      1

[1527 rows x 2 columns]

In [16]:
df.isnull().sum(axis = 0)

News     0
Label    0
dtype: int64

In [13]:
df.to_csv('real_news_all.csv', index=False)

In [14]:
dtf1 = pd.read_csv('true_news_basic.csv')
dtf1 = dtf1.drop(['Unnamed: 0'], axis=1)
temp = [1]*len(dtf1)
dtf1['Label'] = temp
dtf1 = dtf1.rename(columns={'short_description': 'News'})
dtf1

                                                  News  Label
0    भारत ऑस्ट्रेलिय टेस्ट सिरीज़ ऐतिहासिक जीत दर्ज...      1
1    ब्रिस्बेन टेस्ट भारत दीवार कह वाल चेतेश्वर पुज...      1
2    पाकिस्ता टीव प्रेजेंटर सैय्यद इक़रारुल हसन अप ...      1
3    पूछ जाए दिल्ल पहल गणतंत्र दिवस परेड कह इसक जवा...      1
4               वेब सिरीज़ तांडव ले जार विवाद कार्टून       1
..                                                 ...    ...
755  चालक कार रोक के बजाय चल जार रख ट्रैफ़िक पुलिसक...      1
756                 मिसाइल 400 किलोमीटर ज़्याद मार सक       1
757  आकर्षण केंद्र वो शक्तिशाल पहलवान जिनक संबंध प्...      1
758  बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...      1
759  एनआईए 83 साल के फ़ादर स्टेन स्वाम गिरफ़्तार यू...      1

[760 rows x 2 columns]

In [15]:
df = df.append(dtf1)
df

                                                  News  Label
0    मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...      1
1    ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...      1
2    पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...      1
3    कहां हुई थी पहली गणतंत्र दिवस परेडकिसी से पूछा...      1
4    कार्टून: सख़्त ज़रूरत हैवेब सिरीज़ तांडव को ले...      1
..                                                 ...    ...
755  चालक कार रोक के बजाय चल जार रख ट्रैफ़िक पुलिसक...      1
756                 मिसाइल 400 किलोमीटर ज़्याद मार सक       1
757  आकर्षण केंद्र वो शक्तिशाल पहलवान जिनक संबंध प्...      1
758  बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...      1
759  एनआईए 83 साल के फ़ादर स्टेन स्वाम गिरफ़्तार यू...      1

[2287 rows x 2 columns]

In [17]:
df.to_csv('real_news_all.csv', index=False)