In [1]:
import pandas as pd

In [2]:
real = pd.read_csv('real_news_all.csv')
real

                                                   News  Label
0     मोहम्मद सिराज ने हाल में पिता को खो दिया था ले...      1
1     ब्रिसबेन टेस्ट का वो पल जब पुजारा के पापा डर ग...      1
2     पाकिस्तान के टीवी एंकर इक़रारुल हसन ने भारत की...      1
3     कहां हुई थी पहली गणतंत्र दिवस परेडकिसी से पूछा...      1
4     कार्टून: सख़्त ज़रूरत हैवेब सिरीज़ तांडव को ले...      1
...                                                 ...    ...
2282  चालक कार रोक के बजाय चल जार रख ट्रैफ़िक पुलिसक...      1
2283                 मिसाइल 400 किलोमीटर ज़्याद मार सक       1
2284  आकर्षण केंद्र वो शक्तिशाल पहलवान जिनक संबंध प्...      1
2285  बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...      1
2286  एनआईए 83 साल के फ़ादर स्टेन स्वाम गिरफ़्तार यू...      1

[2287 rows x 2 columns]

In [3]:
real.isnull().sum(axis=0)

News     0
Label    0
dtype: int64

In [4]:
fake = pd.read_csv('fake_news_all.csv')
fake

                                                    News  Label
0      यूक्रेन के ख़िलाफ़ रूस कैसे प्रोपेगैंडा की लड़...      0
1      पहले स्वदेशी एयरक्राफ्ट की व्यावसायिक उड़ान पर...      0
2      यूक्रेन की जंग के बारे में क्या दिखा रहे हैं र...      0
3      COVER STORY: कैसे सिख बनकर सिखों को बदनाम करने...      0
4      फ़ेसबुक ने 'हेट स्पीच' और 'नफ़रत वाले कंटेंट' ...      0
...                                                  ...    ...
48262  क्या डेनमार्क में मुस्लिमों के वोट देने के अधि...      0
48263  सोशल मीडिया पर वायरल ये तस्वीर दरअसल कहाँ से ह...      0
48264  मध्यप्रदेश: शराब बिक्री को लेकर शिवराज चौहान क...      0
48265  इंडोनेशिया में समुन्द्र के नीचे स्थित मंदिर के...      0
48266  बेड पर पैर रखकर मरीज़ से बात कर रहे आईएएस अधिका...      0

[48267 rows x 2 columns]

In [5]:
dropp = []

for i in range(2301, len(fake)):
    dropp.append(fake.index[i])

fake = fake.drop(dropp)
fake

                                                   News  Label
0     यूक्रेन के ख़िलाफ़ रूस कैसे प्रोपेगैंडा की लड़...      0
1     पहले स्वदेशी एयरक्राफ्ट की व्यावसायिक उड़ान पर...      0
2     यूक्रेन की जंग के बारे में क्या दिखा रहे हैं र...      0
3     COVER STORY: कैसे सिख बनकर सिखों को बदनाम करने...      0
4     फ़ेसबुक ने 'हेट स्पीच' और 'नफ़रत वाले कंटेंट' ...      0
...                                                 ...    ...
2296  सोशल मीडिया पर वायरल ये तस्वीर दरअसल कहाँ से ह...      0
2297  पाकिस्तान का पुराना वीडियो ग़लत संदर्भ में फिर ...      0
2298  मुस्लिम पिता-पुत्री और माँ-बेटे की पुरानी तस्व...      0
2299  क्या डेनमार्क में मुस्लिमों के वोट देने के अधि...      0
2300  वायरल वीडियो के साथ किया गया 'लव जिहाद' का दाव...      0

[2301 rows x 2 columns]

In [6]:
fake.isnull().sum(axis=0)

News     0
Label    0
dtype: int64

In [7]:
df = real.append(fake)
df = df.sample(frac=1)
df

                                                   News  Label
937   नहीं, यह वीडियो दिल्ली के सरकारी स्कूल को मदरस...      0
2220  मध्यप्रदेश: शराब बिक्री को लेकर शिवराज चौहान क...      0
1023  हिन्दू-मुस्लिम जोड़ हाई कोर्ट मिल सभ केस रद्द-...      1
1359  अरुण लाल: 66 की उम्र में शादी कर रहे पूर्व क्र...      1
560   मध्यप्रदेश: शराब बिक्री को लेकर शिवराज चौहान क...      0
...                                                 ...    ...
1026  मुस्लिम पिता-पुत्री और माँ-बेटे की पुरानी तस्व...      0
2271  चालक कार रोक के बजाय चल जार रख ट्रैफ़िक पुलिसक...      1
713   हवा में क्यों घुल रहा है ज़हर?दिल्ली समेत उत्त...      1
1027  वायरल वीडियो के साथ किया गया 'लव जिहाद' का दाव...      0
362   सोशल मीडिया पर वायरल ये तस्वीर दरअसल कहाँ से ह...      0

[4588 rows x 2 columns]

In [8]:
df.isnull().sum(axis=0)

News     0
Label    0
dtype: int64

In [9]:
df.to_csv('combined_news_all.csv', index=False)